<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="freelancer.js"></script>
		<style>
			.header { margin-top: 20px; }
			.well { margin-top: 20px; }
			select { width: 250px !important; }
			button { margin-top: 10px; }
			.well label { width: 160px; }
			input { width: 50% !important; display: inline-block !important; }
			span { display: inline-block; }
		</style>
	</head>
	<body ng-app="app">
	 	<div class="container" ng-controller="AppController" style="margin-left: 10px;">
	 		<div class="row">
	 			<div class="col-xs-12">
	 				<h1>Freelancer.si</h1>
	 				<div class="header">
		 				<label>Izberi vrsto povpraševanja:</label> 
		 				<select ng-options="item.name for item in choices" ng-model="selectedObject" class="form-control"></select>
		 			</div>

	 				<div class="well" ng-if="webpage">
		 				<form name="formWebpage">
	 						<h3>Povpraševanje po spletni strani:</h3>
	 						<p>
	 							<label>Ime in priimek:</label>
	 							<input type="text" class="form-control" name="name" ng-model="name" ng-required="true" />
	 							<span class="text-danger" ng-show="formWebpage.name.$error.required && formWebpage.name.$touched">To polje je obvezno!</span>
	 						</p>
	 						<p>
	 							<label>Email:</label>
	 							<input type="email" class="form-control" name="email" ng-model="email" ng-required="true" />
	 							<span class="text-danger" ng-show="formWebpage.email.$error.required && formWebpage.email.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formWebpage.$error.email">Email ni veljaven!</span>
	 						</p>
	 						<p>
	 							<label>Telefonska številka:</label>
	 							<input type="text" class="form-control" name="phoneNumber" ng-model="phoneNumber" ng-minlength="9" ng-maxlength="9" ng-pattern="/^([0-9]{9})$/" ng-required="true" />
	 							<span class="text-danger" ng-show="formWebpage.phoneNumber.$error.required && formWebpage.phoneNumber.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formWebpage.phoneNumber.$error.minlength || formWebpage.phoneNumber.$error.maxlength || formWebpage.phoneNumber.$error.pattern">Telefonska številka mora vsebovati 9 števil!</span>
	 						</p>
	 						<p>
	 							<label>Vaše sporočilo:</label>
	 							<textarea name="message" ng-model="message" class="form-control" ng-required="true"></textarea>
	 							<span class="text-danger" ng-show="formWebpage.message.$error.required && formWebpage.message.$touched">To polje je obvezno!</span>
	 						</p>

		 					<button class="btn btn-primary" ng-click="submitForm()" ng-disabled="formWebpage.$invalid">Oddaj povpraševanje!</button>
		 				</form>
	 				</div>

	 				<div class="well" ng-if="angular">
		 				<form name="formAngular">
		 					<h3>Povpraševanje po AngularJS:</h3>
	 						<p>
	 							<label>Ime in priimek:</label>
	 							<input type="text" class="form-control" name="name" ng-model="name" ng-required="true" />
	 							<span class="text-danger" ng-show="formAngular.name.$error.required && formAngular.name.$touched">To polje je obvezno!</span>
	 						</p>
	 						<p>
	 							<label>Naslov:</label>
	 							<input type="text" class="form-control" name="address" ng-model="address" ng-required="true" />
	 							<span class="text-danger" ng-show="formAngular.address.$error.required && formAngular.address.$touched">To polje je obvezno!</span>
	 						</p>
	 						<p>
	 							<label>Poštna številka:</label>
	 							<input type="text" class="form-control" name="postNumber" ng-model="postNumber" ng-required="true" ng-minlength="4" ng-maxlength="4" ng-pattern="/^([0-9]{4})$/" />
	 							<span class="text-danger" ng-show="formAngular.postNumber.$error.required && formAngular.postNumber.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formAngular.postNumber.$error.minlength || formAngular.postNumber.$error.maxlength || formAngular.postNumber.$error.pattern">Poštna številka mora vsebovati 4 števila!</span>
	 						</p>
	 						<p>
	 							<label>Kraj:</label>
	 							<input type="text" class="form-control" name="place" ng-model="place" ng-required="true" />
	 							<span class="text-danger" ng-show="formAngular.place.$error.required && formAngular.place.$touched">To polje je obvezno!</span>
	 						</p>
	 						<p>
	 							<label>Email:</label>
	 							<input type="email" class="form-control" name="email" ng-model="email" ng-required="true" />
	 							<span class="text-danger" ng-show="formAngular.email.$error.required && formAngular.email.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formAngular.$error.email">Email ni veljaven!</span>
	 						</p>
	 						<p>
	 							<label>Telefonska številka:</label>
	 							<input type="text" class="form-control" name="phoneNumber" ng-model="phoneNumber" ng-minlength="9" ng-maxlength="9" ng-pattern="/^([0-9]{9})$/" ng-required="true" />
	 							<span class="text-danger" ng-show="formAngular.phoneNumber.$error.required && formAngular.phoneNumber.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formAngular.phoneNumber.$error.minlength || formAngular.phoneNumber.$error.maxlength || formAngular.phoneNumber.$error.pattern">Telefonska številka mora vsebovati 9 števil!</span>
	 						</p>

		 					<button class="btn btn-primary" ng-click="submitForm()" ng-disabled="formAngular.$invalid">Oddaj povpraševanje!</button>
		 				</form>
	 				</div>

	 				<div class="well" ng-if="query">
	 					<form name="formQuery">
	 						<h3>Povpraševanje po svetovanju:</h3>
	 						<p>
	 							<label>Ime in priimek:</label>
	 							<input type="text" class="form-control" name="name" ng-model="name" ng-required="true" />
	 							<span class="text-danger" ng-show="formQuery.name.$error.required && formQuery.name.$touched">To polje je obvezno!</span>
	 						</p>
	 						<p>
	 							<label>Email:</label>
	 							<input type="email" class="form-control" name="email" ng-model="email" ng-required="true" />
	 							<span class="text-danger" ng-show="formQuery.email.$error.required && formQuery.email.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formQuery.$error.email">Email ni veljaven!</span>
	 						</p>
	 						<p>
	 							<label>Telefonska številka:</label>
	 							<input type="text" class="form-control" name="phoneNumber" ng-model="phoneNumber" ng-minlength="9" ng-maxlength="9" ng-pattern="/^([0-9]{9})$/" ng-required="true" />
	 							<span class="text-danger" ng-show="formQuery.phoneNumber.$error.required && formQuery.phoneNumber.$touched">To polje je obvezno!</span>
	 							<span class="text-danger" ng-show="formQuery.phoneNumber.$error.minlength || formQuery.phoneNumber.$error.maxlength || formQuery.phoneNumber.$error.pattern">Telefonska številka mora vsebovati 9 števil!</span>
	 						</p>
	 						<p>
	 							<label>Sporočilo/vprašanje:</label>
	 							<textarea ng-model="comment" name="comment" class="form-control" ng-required="true"></textarea>
	 							<span class="text-danger" ng-show="formQuery.comment.$error.required && formQuery.comment.$touched">To polje je obvezno!</span>
	 						</p>

		 					<button class="btn btn-primary" ng-click="submitForm()" ng-disabled="formQuery.$invalid">Oddaj povpraševanje!</button>
	 					</form>
 					</div>
	 			</div>
	 		</div>
	 	</div>
	</body>
</html>